<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Expense Tracker</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <h1>Welcome, {{name}}</h1>
      <div class="header-controls">
        <button id="theme-switch">
          <div>&#9790;</div>
          <div>&#9728;</div>
        </button>
        <div class="date-picker">&spadesuit; 11 May, 2026</div>
      </div>
    </header>

    <main>
      <div class="dashboard-grid">
        <div class="card dash-card_1">
          <div class="card-header">
            <h3 class="card-title">Monthly Incomes</h3>
            <button class="card-menu">&spades;</button>
          </div>
          <div class="amount income-amount"></div>
        </div>

        <div class="card dash-card_2">
          <div class="card-header">
            <h3 class="card-title">Monthly Expenses</h3>
            <button class="card-menu">&spades;</button>
          </div>
          <div class="amount expense-amount"></div>
        </div>

        <div class="card my-card">
          <div class="card-header">
            <h3 class="card-title">My Card</h3>
            <button class="card-menu">&spades;</button>
          </div>
          <div id="info">Linked to your primary wallet</div>

          <!-- <div class="card-chip"></div> -->
          <div class="card-number">5435 2735 0037 0015</div>
          <div class="card-holder">{{name}}</div>

          <div class="card-logo">
            <div class="card-logo-circle logo-red"></div>
            <div class="card-logo-circle logo-orange"></div>
          </div>
          <div class="spending-section">
            <div
              style="margin-bottom: 0.5rem; font-size: 0.875rem; opacity: 0.9"
            >
              Spending Limit
            </div>
            <div class="spending-limit" style="color: #d95301; margin-bottom: 6px;">
              &#x20B9;7,104.00
            </div>
            <!-- <div class="spending-used">used from &#x20B9;50,000.00</div> -->
            <div class="progress-bar">
              <div class="progress-fill"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Chart Bar -->

      <div class="chart-section">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Overview</h3>
            <button class="card-menu">&spades;</button>
          </div>

          <div class="chart-container">
            <canvas id="myChart" width="850" height="300"></canvas>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">All Expenses</h3>
            <button class="card-menu">&spades;</button>
          </div>

          <div style="font-size: 0.75rem; color: #6b7280; margin-bottom: 1rem">
            Spending breakdown by category
          </div>
          <canvas id="myDough" width="300" height="300"></canvas>
        </div>
      </div>

      <div class="bottom-layer-wrapper">
        <div class="card transactions-section">
          <div class="card-header">
            <h3 class="card-title">Recent Transactions</h3>

            <div class="filter-bar">
              <div class="filter-group">
                <select id="filterUnified" class="filter-input">
                  <option value="all">All Transactions</option>
                    <optgroup label="Transaction Types">
                      <option value="type:income">All Incomes</option>
                      <option value="type:expense">All Expenses</option>
                    </optgroup>
                    <optgroup label="Income">
                      {% for category in inc_category %}
                      <option value="cat:{{category.name}}">{{category.name}}</option>
                      {% endfor %}
                    </optgroup>
                    <optgroup label="Expense">
                      {% for category in exp_category %}
                      <option value="cat:{{category.name}}">{{category.name}}</option>
                      {% endfor %}
                    </optgroup>
                </select>
                <button id="resetFilters" class="btn-text">Reset</button>
              </div>
            </div>
            <button class="card-menu">&spades;</button>
          </div>

          <table class="transactions-table">
            <thead>
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Category</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody id="transactions-tbody"></tbody>
          </table>
        </div>

        <div class="card faq-container">
          <div class="faq_container">
            <h4 class="faq_heading">Frequently Asked Questions</h4>

            <div class="accordion">
              <div class="accordion_item">
                <button
                  id="accordion_button_1"
                  class="accordion_button"
                  aria-expanded="false"
                >
                  <span class="accordion_title">Top Income source vs Top Expense source...</span>
                  <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion_content">
                  <p>Raymadorina Prata Batagleon</p>
                </div>
              </div>

              <div class="accordion_item">
                <button
                  id="accordion_button_2"
                  class="accordion_button"
                  aria-expanded="false"
                >
                  <span class="accordion_title"
                    >Insight on weekly expenditures...</span
                  >
                  <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion_content">
                  <p>Raymadorina Prata Batagleon</p>
                </div>
              </div>

              <div class="accordion_item">
                <button
                  id="accordion_button_4"
                  class="accordion_button"
                  aria-expanded="false"
                >
                  <span class="accordion_title"
                    >Insight on Savings...</span
                  >
                  <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion_content">
                  <p>Raymadorina Prata Batagleon</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <div class="add-buttons">
      <button
        class="fab fab-income"
        onclick="openIncomeModal()"
        title="Add Income"
      >
        &#9769;
      </button>
      <button
        class="fab fab-expense"
        onclick="openExpenseModal()"
        title="Add Expense"
      >
        &#9866;
      </button>
    </div>

    <div id="incomeModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Add Income</h2>
          <button class="close-btn" onclick="closeModal('incomeModal')">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form id="incomeForm" autocomplete="off">
            <div class="form-group">
              <label class="form-label">Amount</label>
              <input
                type="number"
                class="form-input"
                id="incomeAmount"
                placeholder="Enter Amount"
                name="amount"
                required
              />
            </div>
            <div class="form-group">
              <label class="form-label">Category</label>
              <input
                type="text"
                name="category_name"
                id="incomeCategory"
                class="form-input"
                list="incomeCategoryList"
                autocomplete="off"
                placeholder="Type or select a category"
                required
              />
              <datalist id="incomeCategoryList">
                {% for category in inc_category %}
                <option value="{{ category.name }}">{% endfor %}</option>
              </datalist>
            </div>
            <div class="form-group">
              <label class="form-label">Description</label>
              <input
                type="text"
                class="form-input"
                id="incomeDesc"
                placeholder="Enter Description"
              />
            </div>
            <div class="form-group">
              <label class="form-label">Date</label>
              <input
                type="date"
                name="date"
                class="form-input"
                id="incomeDate"
                required
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" onclick="closeModal('incomeModal')">
            Cancel
          </button>
          <button class="btn btn-primary" type="submit" form="incomeForm">
            Add Income
          </button>
        </div>
      </div>
    </div>

    <div id="expenseModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title">Add Expense</h2>
          <button class="close-btn" onclick="closeModal('expenseModal')">
            &times;
          </button>
        </div>
        <div class="modal-body">
          <form id="expenseForm" autocomplete="off">
            <div class="form-group">
              <label class="form-label">Amount</label>
              <input
                type="number"
                class="form-input"
                id="expenseAmount"
                placeholder="Enter Amount"
                name="amount"
                required
              />
            </div>
            <div class="form-group">
              <label class="form-label">Category</label>
              <input
                type="text"
                name="category_name"
                id="expenseCategory"
                class="form-input"
                list="categoryList"
                autocomplete="off"
                placeholder="Type or select a category"
                required
              />
              <datalist id="categoryList">
                {% for category in exp_category %}
                <option value="{{ category.name }}">{% endfor %}</option>
              </datalist>
            </div>
            <div class="form-group">
              <label class="form-label">Description</label>
              <input
                type="text"
                class="form-input"
                id="expenseDesc"
                placeholder="Enter Description"
              />
            </div>
            <div class="form-group">
              <label class="form-label">Date</label>
              <input
                type="date"
                name="date"
                class="form-input"
                id="expenseDate"
                required
              />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            class="btn btn-secondary"
            onclick="closeModal('expenseModal')"
          >
            Cancel
          </button>
          <button class="btn btn-primary" type="submit" form="expenseForm">
            Add Expense
          </button>
        </div>
      </div>
    </div>

    <hr style="border: 2px solid black; width: 20px;">
    
    <p style="font-weight: 500; font-size: 0.9rem; letter-spacing: 0.02em; padding: 0.5rem; color: #64748b;">&copy; Abhinandan Mitra & Ronik Singh</p>

    <div id="user-container" data-users='{{ userData | tojson | safe}}'></div>

    <script src="{{url_for('static', filename='js/chart.umd.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
  </body>
</html>
